
.content{
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-box-direction: normal;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex-direction: row;
    flex-direction: row;
    box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: nowrap;
    -ms-flex-wrap: wrap; 
    height: 100vh;
}
  
.channels{

}
.detail{
  background-color: #f4f4f4;
  width: 100%;
  border-color: #f4f4f4;
  border: 1px solid #e1e4ea;
}

.msInput{
  display: flex;
  width: 1;
}

.msInputBar{
  border: none;
  outline: none;
  height: 25px;
  padding: 12px 10px 18px 16px;
  flex-grow: 2;
  font-size: 15px;
}

.msBtn{
  border: none;
  background-color: white;
  border-radius: 0px;
  color: blue;
  font-weight: 700;
}
.card{
  display: block;
  height: 72px;
  width: 312px;
  padding: 0px 12px;
  line-height: 72px;
}
.cardHover{
  background-color: #f4f4f4 ;
}
.active{
  background-color: #e5efff ;
}
