.messageItem{
    align-self: flex-start;
    background-color: #e4e6eb;
    padding: 12px;
    border-radius: 6px;
    color: #001a33;
    margin: 2px 12px;
    max-width: 0.8;
    word-wrap: break-word;
    word-break: break-word;
}

.isMe{
    align-self: flex-end;
}
  